// This file is the input config save file.
// There is a description of the file with a simple guide on how to edit it here: https://content.thehelldiversgame.com/help/inputs.md


Player = {
	Emote = [
		{
			trigger = "Release"
			device_type = "PadDS"
			input = "DLeft"
			threshold = 0
			input_type = "Button"
		}
		{
			trigger = "Release"
			device_type = "PadXBOX"
			input = "XboxLeft"
			threshold = 0
			input_type = "Button"
		}
		{
			trigger = "Release"
			device_type = "Keyboard"
			input = "t"
			threshold = 0.20000000298023224
			input_type = "Button"
			fixed_layout_id = 20
		}
	]
	EmoteWheel = [
		{
			trigger = "LongPress"
			device_type = "PadDS"
			input = "DLeft"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "LongPress"
			device_type = "PadXBOX"
			input = "XboxLeft"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "LongPress"
			device_type = "Keyboard"
			input = "t"
			threshold = 0.20000000298023224
			input_type = "Button"
			fixed_layout_id = 20
		}
	]
}
settings = {
	mouse_acceleration = 0
}
Avatar = {
	MoveForward = [
		{
			trigger = "Y+"
			device_type = "PadDS"
			input = "LeftStick"
			threshold = 0
			input_type = "Axis"
		}
		{
			trigger = "Y+"
			device_type = "PadXBOX"
			input = "XboxLeftStick"
			threshold = 0
			input_type = "Axis"
		}
		{
			trigger = "Hold"
			device_type = "Mouse"
			input = "MouseButton4"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "Hold"
			device_type = "Keyboard"
			input = "w"
			threshold = 0.20000000298023224
			input_type = "Button"
			fixed_layout_id = 17
		}
	]
	Map = [
		{
			trigger = "Tap"
			device_type = "PadDS"
			input = "Touchpad"
			threshold = 0.30000001192092896
			input_type = "Button"
		}
		{
			trigger = "Tap"
			device_type = "PadXBOX"
			input = "XboxBack"
			threshold = 0.30000001192092896
			input_type = "Button"
		}
		{
			trigger = "Press"
			device_type = "Keyboard"
			input = "backtick"
			threshold = 0.20000000298023224
			input_type = "Button"
			fixed_layout_id = 41
		}
	]
	Crouch = [
		{
			trigger = "Tap"
			device_type = "PadDS"
			input = "Circle"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "Tap"
			device_type = "PadXBOX"
			input = "XboxB"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "Hold"
			device_type = "Keyboard"
			input = "left ctrl"
			threshold = 0
			input_type = "Button"
			fixed_layout_id = 29
		}
	]
	Climb = [
		{
			trigger = "LongHold"
			device_type = "PadDS"
			input = "Cross"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "LongHold"
			device_type = "PadXBOX"
			input = "XboxA"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "Press"
			device_type = "Keyboard"
			input = "space"
			threshold = 0
			input_type = "Button"
			fixed_layout_id = 57
		}
	]
	Sprint = [
		{
			trigger = "Hold"
			device_type = "Keyboard"
			input = "left shift"
			threshold = 0.20000000298023224
			input_type = "Button"
			fixed_layout_id = 42
		}
		{
			trigger = "Hold"
			device_type = "Mouse"
			input = "MouseButton4"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
	]
}
Stratagem = {
	Start = [
		{
			trigger = "Hold"
			device_type = "PadDS"
			input = "L1"
			threshold = 0
			input_type = "Button"
		}
		{
			trigger = "Hold"
			device_type = "PadXBOX"
			input = "XboxLeftShoulder"
			threshold = 0
			input_type = "Button"
		}
		{
			trigger = "Press"
			device_type = "Keyboard"
			input = "c"
			threshold = 0
			input_type = "Button"
			fixed_layout_id = 46
		}
		{
			trigger = "Hold"
			device_type = "Mouse"
			input = "MouseButton4"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
	]
}
